:root {
  --bg-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 70vh;
}
.div1 {
  background-color: var(--bg-color);
  height: 200px;
  width: 200px;
}

.div2 {
  display: flex;
  align-self: center;
  background-color: var(--bg-color);
  height: 200px;
  width: 200px;
}
.div3 {
  display: flex;
  align-self: flex-end;
  background-color: var(--bg-color);
  height: 200px;
  width: 200px;
}
