* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
}

.outer {
  width: 1000px;
  height: 300px;
  background-color: #4a4a4a;
  display: flex;
  justify-content: space-between;
}

.inner {
  align-self: flex-end;
}

.box-black {
  width: 150px;
  height: 150px;
  background-color: black;
}
