.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.outer {
  width: 600px;
  height: 250px;
  background-color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inner {
  width: 150px;
  height: 150px;
  background-color: black;
}
